<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Page</h1>
    <form action="/products/<%= products.id %>?_method=PATCH" method="POST">
        <label for="text">Title</label>
        </label>
        <input type="text" name="title" id="title" value="<%= product.title%>" >
        <input type="date" name="description" id="description" value="<%= product.description %>" >
        <input type="text" name="markdown" id="markdown" value="<%= product.markdown %>" >
        <button type="submit">Save</button>
    </form>
</body>
</html>