<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Add Product</title>
</head>

<body>
    <h2>Add Product</h2>
    <form action="/products" method="post">
        
            <label for="title">Product Name</label>
            <input type="text" name="title" id="title"><br><br>
       
      <!-- <d iv class="form-control"> -->
            <label for="description">Description</label>
            <input type="date" name="description" id="description"><br><br>
        <!-- </div>
        <div class="form-control"> -->
            <label for="markdown">Markdown.</label>
            <input type="text" id="markdown" name="markdown">
            <br>
            <br>
        <!-- </div> -->
        <button type="submit">Cancel</button>
        <button type="submit">Save</button>
    </form>

</body>

</html>